@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;

}

#main {
    transition: margin-left .5s;
    padding: 16px;
  }