@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 22px!important;
    font-weight: 600!important;
}

.sidebar {
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidebarBtn {
    transition: margin-left .5s;
    padding: 16px;
  }

.modal{
    display: none;
}

.deleteRowBtn:hover{
    cursor: pointer;
}
.addManualExpense{
    filter: none;
}

.expensesTable {
    width: 90%;
    border-collapse: collapse;
    margin: 3%;
    border-radius: 2px;
}
.expensesTable td, .expensesTable th{
    border: 1px solid #219ebc;
    padding: 8px;
}
.expensesTable tr:nth-child(even){
    background-color: #caf0f8;
}

.modalContent{
    position: fixed!important;
    width: 40%;
    right: 30%;
    bottom: 25%;
}

div.scanScreen img {
    width: 60%;
    margin-left: 20%!important;
}